* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container {
  max-width: 980px;
  margin: 20px auto 0;
  display: flex;
  align-items: stretch;
}
.left-side {
  width: 25%;
  background-color: #3a5e90;
  color: white;
  padding-left: 20px;
  line-height: 40px;
}
.right-side {
  width: 75%;
  padding-left: 20px;
  color: black;
  line-height: 40px;
}
.avatar {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
}
.image {
	display: block;
	width: 100%;
}

ul {
    list-style-type: none;
    line-height: 30px;
}

.menu li{
    display: inline-block;
}
.place{
    font-style: italic;
}

.btn {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.white-text {
  color: white;
}